<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body{
            background-color: #9cd3d3;
            
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        h2{
            
            color: #272343;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome to IMEI Validation</h2>
    </div>
</body>
</html>